@page "/Account/Manage/Disable2fa"

@using Microsoft.AspNetCore.Identity
@using YumBlazor.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>İki Faktörlü Doğrulamayı Devre Dışı Bırak</PageTitle>

<StatusMessage />
<h3>İki Faktörlü Doğrulamayı Devre Dışı Bırak (2FA)</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Bu işlem yalnızca 2FA'yı devre dışı bırakır.</strong>
    </p>
    <p>
        2FA'yı devre dışı bırakmak, authenticator uygulamalarında kullanılan anahtarları değiştirmez.
        Eğer authenticator anahtarını değiştirmek istiyorsanız
        <a href="Account/Manage/ResetAuthenticator">authenticator anahtarlarını sıfırlamalısınız.</a>
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">2FA'yı Devre Dışı Bırak</button>
    </form>
</div>

@code {
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Kullanıcıda 2FA etkin olmadığı için devre dışı bırakılamaz.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("2FA devre dışı bırakılırken beklenmeyen bir hata oluştu.");
        }

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("ID'si '{UserId}' olan kullanıcı 2FA'yı devre dışı bıraktı.", userId);
        RedirectManager.RedirectToWithStatus(
            "Account/Manage/TwoFactorAuthentication",
            "2FA devre dışı bırakıldı. Authenticator uygulamasını kurduğunuzda tekrar etkinleştirebilirsiniz.",
            HttpContext);
    }
}
