@page "/Account/Manage/GenerateRecoveryCodes"

@using Microsoft.AspNetCore.Identity
@using YumBlazor.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<GenerateRecoveryCodes> Logger

<PageTitle>İki Faktörlü Kimlik Doğrulama (2FA) Kurtarma Kodları Oluştur</PageTitle>

@if (recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="recoveryCodes.ToArray()" StatusMessage="@message" />
}
else
{
    <h3>İki Faktörlü Kimlik Doğrulama (2FA) Kurtarma Kodları Oluştur</h3>
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Bu kodları güvenli bir yerde saklayın.</strong>
        </p>
        <p>
            Cihazınızı kaybederseniz ve kurtarma kodlarına sahip değilseniz, hesabınıza erişimi kaybedersiniz.
        </p>
        <p>
            Yeni kurtarma kodları oluşturmak, authenticator uygulamalarında kullanılan anahtarları değiştirmez. Authenticator anahtarınızı değiştirmek isterseniz <a href="Account/Manage/ResetAuthenticator">authenticator anahtarlarını sıfırlamalısınız.</a>
        </p>
    </div>
    <div>
        <form @formname="generate-recovery-codes" @onsubmit="OnSubmitAsync" method="post">
            <AntiforgeryToken />
            <button class="btn btn-danger" type="submit">Kurtarma Kodlarını Oluştur</button>
        </form>
    </div>
}

@code {
    private string? message;
    private ApplicationUser user = default!;
    private IEnumerable<string>? recoveryCodes;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var isTwoFactorEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        if (!isTwoFactorEnabled)
        {
            throw new InvalidOperationException("Kullanıcı için kurtarma kodları oluşturulamaz çünkü 2FA etkin değil.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var userId = await UserManager.GetUserIdAsync(user);
        recoveryCodes = await UserManager.GenerateNewTwoFactorRecoveryCodesAsync(user, 10);
        message = "Yeni kurtarma kodları oluşturuldu.";

        Logger.LogInformation("ID'si '{UserId}' olan kullanıcı yeni 2FA kurtarma kodları oluşturdu.", userId);
    }
}
