@page "/Account/Manage/ResetAuthenticator"

@using Microsoft.AspNetCore.Identity
@using YumBlazor.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ResetAuthenticator> Logger

<PageTitle>Authenticator Anahtarını Sıfırla</PageTitle>

<StatusMessage />
<h3>Authenticator Anahtarını Sıfırla</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Authenticator anahtarınızı sıfırlarsanız, authenticator uygulamanız yeniden yapılandırılana kadar çalışmayacaktır.</strong>
    </p>
    <p>
        Bu işlem, authenticator uygulamanızı doğrulayana kadar 2FA’yı devre dışı bırakır.
        Authenticator uygulamasını yeniden yapılandırmazsanız hesabınıza erişimi kaybedebilirsiniz.
    </p>
</div>
<div>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Authenticator anahtarını sıfırla</button>
    </form>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmitAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        await UserManager.SetTwoFactorEnabledAsync(user, false);
        await UserManager.ResetAuthenticatorKeyAsync(user);
        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("ID'si '{UserId}' olan kullanıcı authenticator uygulama anahtarını sıfırladı.", userId);

        await SignInManager.RefreshSignInAsync(user);

        RedirectManager.RedirectToWithStatus(
            "Account/Manage/EnableAuthenticator",
            "Authenticator uygulama anahtarınız sıfırlandı. Yeni anahtarı kullanarak uygulamanızı yeniden yapılandırmanız gerekmektedir.",
            HttpContext);
    }
}
