@page "/Account/Manage/TwoFactorAuthentication"

@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Identity
@using YumBlazor.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>İki Faktörlü Kimlik Doğrulama (2FA)</PageTitle>

<StatusMessage />
<h3>İki Faktörlü Kimlik Doğrulama (2FA)</h3>
@if (canTrack)
{
    if (is2faEnabled)
    {
        if (recoveryCodesLeft == 0)
        {
            <div class="alert alert-danger">
                <strong>Kurtarma kodunuz kalmadı.</strong>
                <p>Bir kurtarma kodu ile giriş yapabilmek için <a href="Account/Manage/GenerateRecoveryCodes">yeni bir kurtarma kodu seti oluşturmalısınız</a>.</p>
            </div>
        }
        else if (recoveryCodesLeft == 1)
        {
            <div class="alert alert-danger">
                <strong>1 kurtarma kodunuz kaldı.</strong>
                <p>Yeni bir <a href="Account/Manage/GenerateRecoveryCodes">kurtarma kodu seti oluşturabilirsiniz</a>.</p>
            </div>
        }
        else if (recoveryCodesLeft <= 3)
        {
            <div class="alert alert-warning">
                <strong>@recoveryCodesLeft adet kurtarma kodunuz kaldı.</strong>
                <p>Yeni bir <a href="Account/Manage/GenerateRecoveryCodes">kurtarma kodu seti oluşturmalısınız</a>.</p>
            </div>
        }

        if (isMachineRemembered)
        {
            <form style="display: inline-block" @formname="forget-browser" @onsubmit="OnSubmitForgetBrowserAsync" method="post">
                <AntiforgeryToken />
                <button type="submit" class="btn btn-primary">Bu tarayıcıyı unut</button>
            </form>
        }

        <a href="Account/Manage/Disable2fa" class="btn btn-primary">2FA'yı devre dışı bırak</a>
        <a href="Account/Manage/GenerateRecoveryCodes" class="btn btn-primary">Kurtarma kodlarını sıfırla</a>
    }

    <h4>Authenticator uygulaması</h4>
    @if (!hasAuthenticator)
    {
        <a href="Account/Manage/EnableAuthenticator" class="btn btn-primary">Authenticator uygulaması ekle</a>
    }
    else
    {
        <a href="Account/Manage/EnableAuthenticator" class="btn btn-primary">Authenticator uygulamasını ayarla</a>
        <a href="Account/Manage/ResetAuthenticator" class="btn btn-primary">Authenticator uygulamasını sıfırla</a>
    }
}
else
{
    <div class="alert alert-danger">
        <strong>Gizlilik ve çerez politikası kabul edilmedi.</strong>
        <p>İki faktörlü kimlik doğrulamayı etkinleştirebilmek için politikayı kabul etmelisiniz.</p>
    </div>
}

@code {
    private bool canTrack;
    private bool hasAuthenticator;
    private int recoveryCodesLeft;
    private bool is2faEnabled;
    private bool isMachineRemembered;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        canTrack = HttpContext.Features.Get<ITrackingConsentFeature>()?.CanTrack ?? true;
        hasAuthenticator = await UserManager.GetAuthenticatorKeyAsync(user) is not null;
        is2faEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        isMachineRemembered = await SignInManager.IsTwoFactorClientRememberedAsync(user);
        recoveryCodesLeft = await UserManager.CountRecoveryCodesAsync(user);
    }

    private async Task OnSubmitForgetBrowserAsync()
    {
        await SignInManager.ForgetTwoFactorClientAsync();

        RedirectManager.RedirectToCurrentPageWithStatus(
            "Mevcut tarayıcı unutuldu. Bu tarayıcıdan tekrar giriş yaptığınızda 2FA kodunuz istenecek.",
            HttpContext);
    }
}
