@page "/Account/ConfirmEmailChange"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using YumBlazor.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>E-Posta Değişikliğini Onayla</PageTitle>

<h1>E-Posta Değişikliğini Onayla</h1>

<StatusMessage Message="@message" />

@code {
    private string? message;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Email is null || Code is null)
        {
            RedirectManager.RedirectToWithStatus(
                "Account/Login", "Hata: Geçersiz e-posta değişikliği onay bağlantısı.", HttpContext);
            return;
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            message = $"Hata: {UserId} ID'sine sahip kullanıcı bulunamadı.";
            return;
        }

        var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
        var result = await UserManager.ChangeEmailAsync(user, Email, code);
        if (!result.Succeeded)
        {
            message = "E-posta değiştirilemedi.";
            return;
        }

        // UI'da e-posta ve kullanıcı adı aynı olduğundan kullanıcı adını da güncellememiz gerekiyor
        var setUserNameResult = await UserManager.SetUserNameAsync(user, Email);
        if (!setUserNameResult.Succeeded)
        {
            message = "Kullanıcı adı değiştirilemedi.";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        message = "E-posta değişikliğiniz için teşekkür ederiz. Değişiklik onaylandı.";
    }
}
