@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Şifre sıfırlama onayı</PageTitle>

<h1>Şifre sıfırlama onayı</h1>
<p role="alert">
    Şifrenizi sıfırlamak için lütfen e-postanızı kontrol edin.
</p>
