@page "/Account/Lockout"

<PageTitle>Hesap Kilitlendi</PageTitle>

<header>
    <h1 class="text-danger">Hesap Kilitlendi</h1>
    <p class="text-danger" role="alert">Bu hesap kilitlendi, lütfen daha sonra tekrar deneyin.</p>
</header>
