@page "/Account/LoginWith2fa"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using YumBlazor.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWith2fa> Logger

<PageTitle>İki Faktörlü Doğrulama</PageTitle>

<h1>İki Faktörlü Doğrulama</h1>
<hr />
<StatusMessage Message="@message" />
<p>Girişiniz bir doğrulayıcı uygulama ile korunuyor. Aşağıya doğrulayıcı kodunuzu girin.</p>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-2fa" OnValidSubmit="OnValidSubmitAsync" method="post">
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <input type="hidden" name="RememberMe" value="@RememberMe" />
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.TwoFactorCode" id="Input.TwoFactorCode" class="form-control" autocomplete="off" placeholder="Doğrulama kodunu girin" />
                <label for="Input.TwoFactorCode" class="form-label">Doğrulayıcı kodu</label>
                <ValidationMessage For="() => Input.TwoFactorCode" class="text-danger" />
            </div>
            <div class="checkbox mb-3">
                <label for="remember-machine" class="form-label">
                    <InputCheckbox @bind-Value="Input.RememberMachine" />
                    Bu cihazı hatırla
                </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Giriş Yap</button>
            </div>
        </EditForm>
    </div>
</div>

<p>
    Doğrulayıcı cihazınıza erişiminiz yok mu?
    <a href="Account/LoginWithRecoveryCode?ReturnUrl=@ReturnUrl">Kurtarma kodu ile giriş yapabilirsiniz</a>.
</p>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private bool RememberMe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Kullanıcının önce kullanıcı adı ve şifre ekranını geçtiğinden emin olun
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("İki faktörlü doğrulama kullanıcısı yüklenemedi.");
    }

    private async Task OnValidSubmitAsync()
    {
        var authenticatorCode = Input.TwoFactorCode!.Replace(" ", string.Empty).Replace("-", string.Empty);
        var result = await SignInManager.TwoFactorAuthenticatorSignInAsync(authenticatorCode, RememberMe, Input.RememberMachine);
        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("Kullanıcı (ID: '{UserId}') 2FA ile giriş yaptı.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("Kullanıcı (ID: '{UserId}') hesabı kilitlendi.", userId);
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Kullanıcı (ID: '{UserId}') için geçersiz doğrulayıcı kodu girildi.", userId);
            message = "Hata: Geçersiz doğrulayıcı kodu.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [StringLength(7, ErrorMessage = "{0} en az {2} ve en fazla {1} karakter uzunluğunda olmalıdır.", MinimumLength = 6)]
        [DataType(DataType.Text)]
        [Display(Name = "Doğrulayıcı kodu")]
        public string? TwoFactorCode { get; set; }

        [Display(Name = "Bu cihazı hatırla")]
        public bool RememberMachine { get; set; }
    }
}
