@page "/Account/LoginWithRecoveryCode"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using YumBlazor.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWithRecoveryCode> Logger

<PageTitle>Kurtarma Kodu ile Giriş</PageTitle>

<h1>Kurtarma Kodu ile Giriş</h1>
<hr />
<StatusMessage Message="@message" />
<p>
    Kurtarma kodu ile giriş yapmak istediniz. Bu giriş, siz doğrulayıcı uygulama kodunu girene kadar veya 2FA’yı devre dışı bırakıp tekrar giriş yapana kadar hatırlanmayacaktır.
</p>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-recovery-code" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.RecoveryCode" id="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Kurtarma Kodunu Girin" />
                <label for="Input.RecoveryCode" class="form-label">Kurtarma Kodu</label>
                <ValidationMessage For="() => Input.RecoveryCode" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Giriş Yap</button>
        </EditForm>
    </div>
</div>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Kullanıcının önce kullanıcı adı ve şifre ekranını geçtiğinden emin olun
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("İki faktörlü doğrulama kullanıcısı yüklenemedi.");
    }

    private async Task OnValidSubmitAsync()
    {
        var recoveryCode = Input.RecoveryCode.Replace(" ", string.Empty);

        var result = await SignInManager.TwoFactorRecoveryCodeSignInAsync(recoveryCode);

        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("Kullanıcı (ID: '{UserId}') kurtarma kodu ile giriş yaptı.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("Kullanıcı hesabı kilitlendi.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Kullanıcı (ID: '{UserId}') için geçersiz kurtarma kodu girildi.", userId);
            message = "Hata: Geçersiz kurtarma kodu girildi.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [DataType(DataType.Text)]
        [Display(Name = "Kurtarma Kodu")]
        public string RecoveryCode { get; set; } = "";
    }
}
