@page "/Account/RegisterConfirmation"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using YumBlazor.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Kayıt Onayı</PageTitle>

<h1>Kayıt Onayı</h1>

<StatusMessage Message="@statusMessage" />

@if (emailConfirmationLink is not null)
{
    <p>
        Bu uygulamada şu anda gerçek bir e-posta gönderici kayıtlı değil, gerçek bir e-posta gönderici yapılandırma için
        <a href="https://aka.ms/aspaccountconf">belgelere</a> bakabilirsiniz.
        Normalde bu bağlantı e-posta ile gönderilecekti:
        <a href="@emailConfirmationLink">Hesabınızı onaylamak için buraya tıklayın</a>
    </p>
}
else
{
    <p role="alert">Lütfen hesabınızı onaylamak için e-postanızı kontrol edin.</p>
}

@code {
    private string? emailConfirmationLink;
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Belirtilmemiş e-posta için kullanıcı bulunamadı";
        }
        else if (EmailSender is IdentityNoOpEmailSender)
        {
            // Gerçek bir e-posta gönderici eklediğinizde, hesabı doğrulamayı sağlayan bu kodu kaldırmalısınız
            var userId = await UserManager.GetUserIdAsync(user);
            var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
            code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
            emailConfirmationLink = NavigationManager.GetUriWithQueryParameters(
                NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
                new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });
        }
    }
}
