@page "/Account/ResetPasswordConfirmation"
<PageTitle>Şifre sıfırlama onayı</PageTitle>

<h1>Şifre sıfırlama onayı</h1>
<p role="alert">
    Şifreniz sıfırlandı. Lütfen <a href="Account/Login">giriş yapmak için buraya tıklayın</a>.
</p>
